<section id="contact" class="section-grid">
  <div class="section-background bg-gradient-main glass-effect"></div>

  <div class="section-content">
    <h2 class="section-heading heading-large">Let's Build Something Great</h2>

    <p class="section-text text-span">
      Ready to collaborate on your next project? I'm always excited to discuss
      new opportunities and challenging projects. Whether you need a dedicated
      team member or expertise in modern web development, let's connect!
    </p>
  </div>

  <div class="section-content">
    <div class="ContactInfo">
      <img
        class="ContactIcon"
        src="/icons/email.svg"
        alt="Email Icon"
        loading="lazy"
      />
      <a
        href="mailto:damianlaczynski@gmail.com"
        class="ContactLink text-contact"
      >
        damianlaczynski&#64;gmail.com
      </a>
    </div>

    <div class="ContactInfo">
      <img
        class="ContactIcon"
        src="/icons/github-contact.svg"
        alt="GitHub Icon"
        loading="lazy"
      />
      <a
        href="https://github.com/DamianLaczynski"
        target="_blank"
        rel="noopener noreferrer"
        class="ContactLink text-contact"
      >
        github.com/DamianLaczynski
      </a>
    </div>

    <div class="ContactInfo">
      <img
        class="ContactIcon"
        src="/icons/linkedin-contact.svg"
        alt="LinkedIn Icon"
        loading="lazy"
      />
      <a
        href="https://linkedin.com/in/damianlaczynski"
        target="_blank"
        rel="noopener noreferrer"
        class="ContactLink text-contact"
      >
        linkedin.com/in/damianlaczynski
      </a>
    </div>
  </div>
</section>
