<div data-layer="Hero section" class="HeroSection">
  <div
    data-layer="Hero background"
    class="HeroBackground bg-gradient-main glass-effect"
  ></div>
  <div
    data-layer="Hero title"
    class="HeroTitle heading-primary flex-column-end"
  >
    Fullstack <br />
    Developer
  </div>
  <img
    data-layer="Fullstack Developer"
    class="FullstackDeveloper"
    src="/fullstack-developer.svg"
    alt="Fullstack Developer"
  />
  <div
    data-layer="Hero name"
    class="HeroName heading-hero flex-column-end text-right"
  >
    Damian<br />Łączyński
  </div>
  <div
    data-layer="Contact button background"
    class="ContactButtonBackground bg-button"
  ></div>
  <div
    data-layer="Contact button text"
    class="ContactButtonText text-button text-center flex-column-center"
  >
    Get in Touch
  </div>
  <div data-layer="Hero description" class="HeroDescription">
    <span class="text-span-orange"> <p></p></span
    ><span class="text-span">Building </span
    ><span class="text-span-bold">scalable</span
    ><span class="text-span"> web solutions with </span
    ><span class="text-span-bold">clean architecture</span
    ><span class="text-span"> and </span
    ><span class="text-span-bold">modern technologies</span
    ><span class="text-span">.</span
    ><span class="text-span-orange"
      ><p></p>
      <br /><br />
      <p></p></span
    ><span class="text-span"
      >Specializing in .NET and Angular development, with <br />a passion for </span
    ><span class="text-span-bold">clean code</span
    ><span class="text-span">,<br /></span
    ><span class="text-span-bold">proper architecture</span
    ><span class="text-span">, and </span
    ><span class="text-span-bold">team collaboration</span
    ><span class="text-span">.</span
    ><span class="text-span-orange"><p></p> </span>
  </div>
</div>
