/* Hero Section */
.HeroSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50vh;
  border-radius: var(--border-radius);
  padding: 3rem;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .HeroSection {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .HeroSection {
    padding: 1.5rem;
    gap: 1.5rem;
    min-height: 60vh;
  }
}

.HeroBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  z-index: -1;
}

/* Hero Graphics */
.HeroGraphics {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 20rem;
}

.FullstackDeveloper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 50rem;
  height: auto;
  z-index: 2;
  
  // White SVG elements
  path {
    fill: var(--text-white);
    fill-opacity: 1;
  }
}

@media (max-width: 1024px) {
  .FullstackDeveloper {
    max-width: 30rem;
    filter: blur(4px);
  }
}

@media (max-width: 768px) {
  .FullstackDeveloper {
    max-width: 20rem;
    //layer blur
    filter: blur(4px);
  }
}

/* Hero Content */
.HeroContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 2;
  align-items: flex-start;
}

.HeroTitle {
  font-size: clamp(2.5rem, 6vw, 4rem);
  color: var(--text-white);
  margin: 0;
  line-height: 1.2;
}

.HeroDescription {
  max-width: 30rem;
  margin: 0;
}

@media (max-width: 1024px) {
  .HeroDescription {
    max-width: 100%;
  }
}

.HeroName {
  text-align: right;
  text-shadow: -0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.74);
  margin: 1rem 0 0 0;
  align-self: flex-end;
}

@media (max-width: 1024px) {
  .HeroContent {
    align-items: center;
  }
  
  .HeroName {
    text-align: center;
    align-self: center;
  }
}

/* Contact Button */
.ContactButton {
  margin-top: 1rem;
  align-self: flex-end;
} 

@media (max-width: 768px) {
  .ContactButton {
    align-self: center;
  }
}

.HeroContentText {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-title-fullstack {
  position: relative;
  top: 0;
  left: -8.75rem;
}

@media (max-width: 768px) {
  .hero-title-fullstack {
    left: 0;
  }
}