<div data-layer="Commercial projects section" class="CommercialProjectsSection">
  <div
    data-layer="Commercial projects background"
    class="CommercialProjectsBackground bg-gradient-purple glass-effect"
  ></div>
  <img data-layer="magjob" class="Magjob" src="/magjob.svg" alt="MagJob" />
  <div
    data-layer="Commercial project details"
    class="CommercialProjectDetails flex-column-center"
  >
    <span class="text-span"
      >Enterprise Organization Management<br />Complete microservices solution
      with advanced features<br /></span
    ><span class="text-span"
      >8 microservices + Clean Architecture<br />NFC integration & Google
      Calendar API<br />Real-time collaboration</span
    >
  </div>
  <div
    data-layer="Commercial project title"
    class="CommercialProjectTitle heading-secondary flex-column-end"
  >
    MagJob
  </div>
  <div
    data-layer="Commercial project description"
    class="CommercialProjectDescription flex-column-center"
  >
    <span class="text-span"
      >Web Applications at Net PC<br />Excel-to-web migrations and data
      processing systems<br /></span
    ><span class="text-span"
      >Dynamic forms & mapping<br />Azure integration<br />Performance
      optimization</span
    >
  </div>
  <div
    data-layer="Commercial projects heading"
    class="CommercialProjectsHeading heading-secondary flex-column-end"
  >
    Commercial Projects
  </div>
</div>
<div data-layer="Featured projects section" class="FeaturedProjectsSection">
  <div
    data-layer="Featured projects background"
    class="FeaturedProjectsBackground bg-gradient-purple glass-effect"
  ></div>
  <div
    data-layer="Featured project description"
    class="FeaturedProjectDescription text-body flex-column-center"
  >
    <span
      >AI-Powered Project Management<br />Learning project exploring
      Human-in-the-Loop AI philosophy<br /></span
    ><span
      >.NET 9 + Angular 19<br />Microservices architecture<br />AI integration
      (in development)</span
    >
  </div>
  <div
    data-layer="Featured projects heading"
    class="FeaturedProjectsHeading heading-primary flex-column-end"
  >
    Featured Projects
  </div>
  <img
    data-layer="Featured Projects"
    class="FeaturedProjects"
    src="/featured-projects.svg"
    alt="Featured Projects"
    style="left: 0px; top: 217px; position: absolute"
  />
  <div
    data-layer="Featured project title"
    class="FeaturedProjectTitle heading-secondary flex-column-end"
  >
    Archi
  </div>
</div>
