<div class="SocialLinks bg-gradient-main glass-effect-light">
  <a
    href="https://github.com/DamianLaczynski"
    target="_blank"
    rel="noopener noreferrer"
    class="SocialLink"
    aria-label="GitHub Profile"
  >
    <img
      class="SocialIcon"
      src="icons/github.svg"
      alt="GitHub"
      loading="lazy"
    />
  </a>

  <a
    href="https://linkedin.com/in/damianlaczynski"
    target="_blank"
    rel="noopener noreferrer"
    class="SocialLink"
    aria-label="LinkedIn Profile"
  >
    <img
      class="SocialIcon"
      src="icons/linkedin.svg"
      alt="LinkedIn"
      loading="lazy"
    />
  </a>

  <a
    href="mailto:damian.laczynski.edu@gmail.com"
    class="SocialLink"
    aria-label="Email Contact"
  >
    <img class="SocialIcon" src="icons/email.svg" alt="Email" loading="lazy" />
  </a>
</div>
