/* Social Links */
.SocialLinks {
  width: 503px;
  height: 493px;
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: hidden;
}

.Vector {
  left: 69px;
  top: 187px;
  position: absolute;
  width: 52px;
  height: 52px;
}

.GithubMark1 {
  left: 106px;
  top: 89px;
  position: absolute;
  width: 52px;
  height: 49px;
}

.LinkedinSvgrepoCom1 {
  left: 206px;
  top: 59px;
  position: absolute;
  width: 52px;
  height: 52px;
} 