<nav class="Navigation bg-gradient-main glass-effect-light">
  <a
    href="#experience"
    class="NavLink heading-primary hover-lift animate-delay-100"
  >
    Experience
  </a>
  <a
    href="#projects"
    class="NavLink heading-primary hover-lift animate-delay-200"
  >
    Projects
  </a>
  <a
    href="#innovation"
    class="NavLink heading-primary hover-lift animate-delay-300"
  >
    Me
  </a>
  <a
    href="#contact"
    class="NavLink heading-primary hover-lift animate-delay-400"
  >
    Contact
  </a>
</nav>
