<div data-layer="Navigation" class="Navigation">
  <div
    data-layer="Experience link"
    class="ExperienceLink heading-primary flex-column-end"
  >
    Experience
  </div>
  <div
    data-layer="Projects link"
    class="ProjectsLink heading-primary flex-column-end"
  >
    Projects
  </div>
  <div data-layer="Me link" class="MeLink heading-primary flex-column-end">
    Me
  </div>
  <div
    data-layer="Contact link"
    class="ContactLink heading-primary flex-column-end"
  >
    Contact
  </div>
</div>
