<nav class="Navigation bg-gradient-main glass-effect-light">
  <div class="NavLinks">
    <a
      href="#experience"
      class="NavLink heading-primary hover-lift animate-delay-100"
    >
      {{ "nav.experience" | translate }}
    </a>
    <a
      href="#projects"
      class="NavLink heading-primary hover-lift animate-delay-200"
    >
      {{ "nav.projects" | translate }}
    </a>
    <a
      href="#innovation"
      class="NavLink heading-primary hover-lift animate-delay-300"
    >
      {{ "nav.me" | translate }}
    </a>
    <a
      href="#contact"
      class="NavLink heading-primary hover-lift animate-delay-400"
    >
      {{ "nav.contact" | translate }}
    </a>
  </div>
</nav>
