/* Experience Section */
.ExperienceSection {
  width: 1964px;
  height: 851px;
  left: -687px;
  top: 493px;
  position: absolute;
  overflow: hidden;
  border-radius: 59px;
}

.ExperienceBackground {
  width: 1741px;
  height: 851px;
  left: 1964px;
  top: 851px;
  position: absolute;
  transform: rotate(180deg);
  transform-origin: top left;
  border-radius: 59px;
}

.ExperienceHeading {
  left: 914px;
  top: 452px;
  position: absolute;
}

.ExperienceDuration {
  left: 914px;
  top: 592px;
  position: absolute;
}

.ExperienceDescription {
  width: 554px;
  left: 914px;
  top: 675px;
  position: absolute;
}

.ProfessionalExperience {
  left: 1457px;
  top: 530px;
  position: absolute;
} 