<section id="experience" class="section-grid">
  <div class="section-background bg-gradient-main glass-effect"></div>

  <div class="section-content">
    <h2 class="section-heading heading-hero">Professional<br />Experience</h2>

    <div class="ExperienceCompany">
      <h3 class="CompanyName text-contact">Net PC</h3>
      <p class="CompanyDuration text-contact">2024 – Present</p>
    </div>

    <div class="ExperienceDescription text-span">
      <ul class="custom-list">
        <li>Fullstack Developer</li>
        <li>Web applications with APIs and databases</li>
        <li>CI/CD automation and process optimization</li>
        <li>Complex data processing and visualization</li>
        <li>Dynamic forms and mapping solutions</li>
      </ul>
    </div>
  </div>

  <div class="section-graphics">
    <img
      class="graphic--large"
      src="/professional-experience.svg"
      alt="Professional Experience Illustration"
      loading="lazy"
    />
  </div>
</section>
